body
{
    background-color: lightslategrey;
}
#wrapper
{
    background-color: whitesmoke;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;

    border: solid 2px rgb(82, 82, 82);
}
.gameneeded
{
    border: rgb(57, 196, 44) 2px solid;
}      
.game
{
    width: 18%;
             /* THIS WONT UPDATE */
    margin: 1%;
    border: rgb(196, 44, 44) 2px solid;
}
li
{
    list-style: none;
}
.nav
{
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(82, 82, 82);
}