body
{
    background-color: lightslategrey;
}
#wrapper
{
    background-color: whitesmoke;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;

    border: solid 2px rgb(82, 82, 82);
}
     
.game
{
    width: 18%;
             /* THIS WONT UPDATE */
    margin: 1%;
    border: rgb(196, 44, 44) 2px solid;
}
.gameneeded
{
    border: rgb(57, 196, 44) 2px solid;
} 

.green
{
    margin-left: 20px;
    color: rgb(57, 196, 44);
}
.red
{
    margin-left: 20px;
    color: rgb(196, 44, 44);
}

li
{
    list-style: none;
}
.nav
{
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(82, 82, 82);
}